#container{
    width: 768px;
    margin: auto;
}

.itemsRow{
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    height: auto;

    border-style:solid;
    border-width:thin;
}
.itemsImg{
    float: left;
    width: 25%;
}
.itemsText{
    margin: 0px 0px 0px 10px;
    float: left;
    width: 70%;
}

.image{
    width: 180px;
    height: 180px;
}
.illust{
    width: 100%;
    height: auto;
}

p{
    font-family: monospace;
    font-size: 15px;
}
