<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=deice'>

    <title>Rank - Pixiv Imitated</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href={{url_for('static', filename='stylesheet/stylesheet.css')}} />
</head>
<body>
    <div id="container"></div>

    <script>
        var server={'rankUrl': {{rankUrl|tojson}} };
    </script>
    <script src={{url_for("static", filename="javascript/config.js")}}></script>
    <script src={{url_for("static", filename="javascript/rank.js")}}></script>
</body>
</html>
